<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="MyPortfolio">
  <head>
    <meta charset="utf-8">
    <!-- <script  src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js" type="text/javascript"></script>
    <link rel="stylesheet" href="style.css"></link>
    <title>Erin McMackin</title>
  </head>
  <body>
    <div class="main-container" ng-controller="MyPortfolio as ctrl">
      <div class="nav-container">
        <h1><</br>Erin</br>McMackin</br>/></h1>
        <nav class="nav">
          <ul>
            <li ng-click="ctrl.navAbout()">About</li>
            <li ng-click="ctrl.navPortfolio()">Portfolio</li>
            <li ng-click="ctrl.navResume()">Resume</li>
          </ul>
        </nav>
      </div>
      <div class="main-container">
        <div ng-if="ctrl.showPortfolio" class="portfolio-container">
          <h2>Portfolio</h2>
          <img src="#"></img>
          <div class="portfolio-card-container">
            <div class="portfolio-card">
              <h3><a href="https://fit-builder.herokuapp.com/">Fit Builder</a></h3>
              <img src="#"></img>
              <p></p>
            </div>
            <div class="portfolio-card">
              <h3><a href="https://small-and-mighty.herokuapp.com/">Small & Mighty</a></h3>
              <img src="./images/Small-Mighty.png"></img>
              <p></p>
            </div>
            <div class="portfolio-card">
              <h3><a href="https://erinmcmackin.github.io/">Cake Clash</a></h3>
              <img src="./images/Cake-Clash.png"></img>
              <p></p>
            </div>
            <div class="portfolio-card">
              <h3><a href="https://code-break.herokuapp.com/">Code Break</a></h3>
              <img src="./images/Code-Break.png"></img>
              <p></p>
            </div>
            <div class="portfolio-card">
              <h3><a href="https://dream-onward.herokuapp.com/">Dream Onward</a></h3>
              <img src="./images/Dream-Onward.png"></img>
              <p></p>
            </div>
          </div>
        </div>
        <div ng-if="ctrl.showAbout" class="about-container">
          about
        </div>
        <div ng-if="ctrl.showResume" class="resume-container">
          <h2>Resume</h2>
        </div>
      </div>
    </div>
    <div class="footer-container">
      footer
    </div>
  </body>
</html>
