* {
  /* border: 1px solid gold; */
  margin: 0;
  margin-top: 10px;
}

body {
  margin: 0;
  background-color: #04003A;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

/* ========== */
/* NAV */
/* ========== */

.nav {
  /* position: fixed;
  z-index: 1; */
  min-width: 200px;
  /* width: 20%; */
  height: 100%;
  background-color: #04003A;
  color: #F0C531;
  padding-left: 10px;
  flex-grow: 1;
}

.nav > h1 {
  font-family: 'Sacramento', cursive;
  font-size: 35px;
  color: #F0C531;
}

.nav > ul {
  list-style: none;
  padding: 0;
}


/* ========== */
/* CONTENT */
/* ========== */

.content-container {
  /* margin-left: 200px; */
  flex-grow: 5;
  width: 78%;
  margin: 0;
  padding: 0 20px 20px;
  /* background-color: #e3e3ff; */
  background-color: #DAD7CD;
  color: #04003A;
  border-radius: 4px;
}

.content-container h2 {
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-size: 40px;
  line-height: 2;
  color: #F0C531;
  background-color: #04003A;
  border-radius: 4px;
}

.content-container h3 {
  font-size: 25px;
}

.content-container h4 {
  font-size: 15px;
  font-style: italic;
}

.content-container h5 {
  font-size: 12px;
}

.content-container li {
  font-size: 15px;
  margin: 1px;
}


/* ========== */
/* PORTFOLIO */
/* ========== */

.portfolio-card > img {
  width: 100%;
}

/* ========== */
/* RESUME */
/* ========== */




/* ========== */
/* FOOTER */
/* ========== */

.footer-container {
  flex: 1;
  width: 100%;
}
