* {
  border: 1px solid gold;
}

/* ========== */
/* NAV */
/* ========== */

.nav > ul {
  list-style: none;
  padding: 0;
}


/* ========== */
/* INDEX */
/* ========== */

.main-container {
  display: flex;
  flex-direction: row;
}


/* ========== */
/* FOOTER */
/* ========== */

.footer-container {
  flex: 1;
  width: 100%;
}
